[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
bump2version = "*"
flake8 = "*"
pipenv-setup = "*"
pytest = "*"
pytest-cov = "*"

[packages]
click = "*"

[requires]
python_version = "3.7"
